<% flash.each do |key, value| %>
  <div class="flash <%= key %>"><%= value %></div>
<% end %>


      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <h1>Cadastrar-se</h1>
              
      
              <div class="field">
                <%= f.email_field :email, autofocus: true, class:"form-control", placeholder: "Insira o seu email" %>
              </div>

              <div class="field">
                <%= f.password_field :password, class: "form-control", placeholder: "Insira sua senha" %>
              </div>

              <div class="field">
                <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Insira a confirmação da senha" %>
              </div>


              <div>
                 <%= f.submit "Cadastrar-se", class: "btn btn-default submit", style: 'float: none; margin-left; width: 70%;' %>
              </div>
            <% end %>

          </section>
        </div>
      </div>
    </div>
